/* Reset */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* Carousel Container */
.carousel {
    width: 100%;
    height: 100vh;
    position: relative;
    /* IMPORTANT */
    overflow: hidden;
}

/* Slides Wrapper */
.slides {
    display: flex;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    height: 100%;
    position: relative;
}


.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.content {
    position: absolute;
    top: 80%;
    left: 15%;
    transform: translate(-50%, -50%);
    text-align: left;
    color: white;
    font-weight: bold;
    padding: 25px 40px;
    border-radius: 10px;
    margin-left: 50px;
}

.content h1 {
    font-size: 50px;
}

.content p {
    margin-top: 5px;
    font-size: 25px;
}

.indicators {
    position: absolute;
    bottom: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.dash {
    width: 35px;
    height: 4px;
    background: #ccc;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.dash.active {
    background: white;
}

.pricing-table h1 {
    text-align: center;
    margin: 40px;
    font-size: 50px;
}

.pricing-table p {
    position: relative;
    text-align: center;
    width: 800px;
    margin: 0 auto;
    font-size: 25px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.card h3 {
    margin: 0;
    background-color: aliceblue;
    padding: 20px;
    font-size: 35px;

}

.card h2 {
    margin: 20px 0;
    font-size: 40px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    font-size: 15px;
}

.card button {
    margin: 20px;
    padding: 20px;
    width: 80%;
    border-radius: 8px;
    font-size: 25px;
    background-color: lightskyblue;

}

.card button:hover {
    background-color: rgb(4, 37, 48);
    color: white;
}

.pricing-table table {
    width: 70%;
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;

}

th,
td {
    padding: 15px;
    border-bottom: 1px solid #989696;
}

nav {
    width: 100%;
    position: fixed;
    z-index: 1000;
    display: flex;
    padding: 0px;
    background-color: #333;
    color: white;
}

nav h1 {
    margin: 0;
    padding: 20px;
    font-size: 30px;
}

nav ul {
    display: flex;
    gap: 50px;
    list-style: none;
    margin: auto;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    position: static;
}

nav a:hover {
    background-color: #8d8c8c;

}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    position: sticky;
}

.search {
    background: rgba(225, 229, 232, 0.6);
    height: 40%;
    position: fixed;
    margin: 0;
    width: 100%;
    opacity:0;
    visibility:hidden;
    z-index:1000;
}

.show-modal {
    display: block;opacity:1;
    visibility:visible;

}

.search-bar {
    width: 40%;
    font-size: 25px;
    justify-content: center;
    background: rgba(4, 114, 199, 0.707);
    padding: 20px;
    border: 2px solid white;
    display: block;
    margin: 0 auto;


}

.search-bar::placeholder {
    color: white;

}

.close-btn {
    font-size: 30px;
    text-align: right;
    cursor: pointer;
    padding: 20px;
    color: white;
    font-weight: lighter;
    


}

#search-btn {
    padding: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 30px;
    font-size: 20px;


}
.form-container{
    background:white;
    padding:30px;
    width:700px;
    border-radius:10px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    margin:40px auto;
    
}

.form-container h2{
    text-align:center;
    margin-bottom:20px;
   
}

.input-group{
    margin-bottom:15px;
}

label{
    display:block;
    margin-bottom:5px;
}

input[type="text"],
input[type="email"],
input[type="password"]{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
    outline:none;
}

input:valid{
    border-color:green;
}

input:invalid{
    border-color:red;
}

.radio-group,
.checkbox-group{
    margin-top:5px;
}

.form-container button{
    width:100%;
    padding:10px;
    background:#196d97;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
    margin-top:10px;
    font-size:18px;
}

.form-container button:hover{
    background:#103745;
    color: white;
}
.gallery{
    margin:10px;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap:20px;
}

.gallery-item{
    overflow:hidden;
    border-radius:10px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}

.gallery-item img{
    width:100%;
    height:250px;
    object-fit:cover;
    transition: transform 0.4s ease;
}


.gallery-item:hover img{
    transform:scale(1.1);
}
.grid h1{
    text-align:center;
    margin:40px 0;
}