body{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header header"
        "navbar navbar"
        "sidebar container"
        "footer footer";
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
img{
    width: 3cm;
    height: 2cm;
    border-radius: 5px;

}
header{
    grid-area: header;
    background-color: rgb(58, 160, 77);
    text-align: center;
    color: rgb(240, 234, 234);
    

}
header p{
    font-size: medium;
}
nav{
    grid-area: navbar;
    background-color: rgb(115, 184, 115);
    text-align: center;
    padding: 10px;
    
}
nav a {
    color: rgb(248, 244, 244);
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}
.sidebar{
    grid-area: sidebar;
    background-color: rgb(200, 224, 200);
    padding: 20px;
    text-align: left;
    font-size: large;
    margin:10px;
    margin-right: 5px;
    font-size: smaller;
    width: 320px;
    border-radius: 8px;
    
}
.container{
    grid-area: container;
    padding: 5px;
    margin:5px;
    display: grid;
    grid-template-columns: 150px 150px 150px 150px 150px 150px 150px;
    gap: 5px;
}
.content{
    margin:5px;
    padding:10px;
    
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 4px 5px rgb(208, 207, 207);
    text-align: center;
    align-items: center;
    padding-bottom: 300px;
}
footer{
    grid-area: footer;
    text-align: center;
    background-color: rgb(58, 160, 77);
    color: white;
    font-size: smaller;
    padding:10px


}

